In [1]:
#import dependencies
import pandas as pd

In [2]:
#import and read data
df = pd.read_csv('all-weeks-countries.csv')

In [4]:
#get the first 5 records
df.head(5)

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2021-12-05,Films,1,Spoiled Brats,NaN,2
1,Argentina,AR,2021-12-05,Films,2,The Power of the Dog,NaN,1
2,Argentina,AR,2021-12-05,Films,3,Bruised,NaN,2
3,Argentina,AR,2021-12-05,Films,4,The Whole Truth,NaN,1
4,Argentina,AR,2021-12-05,Films,5,More the Merrier,NaN,1

In [5]:
#get shape of db
df.shape

(43240, 8)

In [6]:
#get column names
df.columns

Index(['country_name', 'country_iso2', 'week', 'category', 'weekly_rank',
       'show_title', 'season_title', 'cumulative_weeks_in_top_10'],
      dtype='object')

In [10]:
#grab specific data and make a new df with only those records
new_df = df.loc[(df['category'] == 'Films') & (df['show_title'] == 'Spoiled Brats') & (df['country_name'] == 'Venezuela')]
print(new_df)

      country_name country_iso2        week category  weekly_rank  \
42320    Venezuela           VE  2021-12-05    Films            1
42342    Venezuela           VE  2021-11-28    Films            3

          show_title season_title  cumulative_weeks_in_top_10
42320  Spoiled Brats          NaN                           2
42342  Spoiled Brats          NaN                           1

In [11]:
new_df.to_csv("Films_Spoiled_Brats_Venezuela.csv")